<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <header>Boog's Fitness App</header>
        <nav class="navbar">
            <ul>
                {% block navlinks %}
                {% endblock %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>