{% extends 'base.html' %}
{% block title %} Profile {% endblock %}
{% block navlinks %}
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a class='active' href="{{ url_for('profile') }}">Profile</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
   {% if current_user.is_authenticated %}
        <li style="float:right"><a href="{{ url_for('logout') }}">Logout</a></li>
        <li style="float:right"><a href="{{ url_for('account') }}">Account</a></li>
    {% else %}
        <li style="float:right"><a href="{{ url_for('login') }}">Login</a></li>
        <li style="float:right"><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col">
            {% if current_user.is_authenticated %}
                <div>
                    <p>Good day, {{ current_user.username }}</p>
                </div>
            {% else %}
                <div>
                    <p>To access this area, you must first<a style="display:inline" href="{{ url_for('login') }}">log in</a></p>
                </div>
            {% endif %}
        </div>
        <div class="col">
          <p>Hello there</p>
        </div>
        <div class="col">
          <p>Bye bye!</p>
        </div>
      </div>
    </div>
{% endblock %}