{% extends 'base.html' %}
{% block title %} Profile {% endblock %}
{% block navlinks %}
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a class='active' href="{{ url_for('profile') }}">Profile</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
   {% if current_user.is_authenticated %}
        <li style="float:right"><a href="{{ url_for('logout') }}">Logout</a></li>
        <li style="float:right"><a href="{{ url_for('account') }}">Account</a></li>
    {% else %}
        <li style="float:right"><a href="{{ url_for('login') }}">Login</a></li>
        <li style="float:right"><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
            {% if current_user.is_authenticated %}
                <div>
                    <p>Good day, {{ current_user.username }}</p>
                </div>
            {% else %}
                <div>
                    <p>To access this area, you must first<a style="display:inline" href="{{ url_for('login') }}">log in</a></p>
                </div>
            {% endif %}
            <span style="color:white"> {{ weight_list }} </span>
        </div>
        <div class="col-sm-4">
          <div class="auth">
              <form method="POST" action="">
                  {{ form.hidden_tag() }}
                  <fieldset class="auth_field">
                    <div class="auth_group">
                        {{form.weight.label(class="auth_label")}}
                        {% if form.weight.errors %}
                            {% for error in form.weight.errors %}
                                <p style="float:right">{{ error }}</p>
                            {% endfor %}
                        {% else %}
                            {{form.weight(class="input_field", placeholder="Your weight")}}
                        {% endif %}
                    </div>
                    <div class="auth_group">
                        {{form.date.label(class="auth_label")}}
                        {% if form.date.errors %}
                            {% for error in form.date.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% else %}
                            {{form.date(class="input_field", placeholder="Enter a date or leave blank for today.")}}
                        {% endif %}
                    </div>
                </fieldset>
                <div>
                    {{form.submit(class="submit")}}
                </div>
              </form>
          </div>
        </div>
        <div class="col-sm-4">
          <p>Bye bye!</p>
        </div>
      </div>
    </div>
{% endblock %}