{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block navlinks %}
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
    <li style="float:right"><a href="{{ url_for('login') }}">Login</a></li>
    <li style="float:right"><a class='active' href="{{ url_for('register') }}">Register</a></li>
{% endblock %}
{% block content %}
    <div class="auth">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="authorization">
                <legend style="font-weight:bold;font-size:20px">Registration</legend>
                <div class="auth_group">
                    {{form.email.label(class="auth_label")}}
                    {{form.email(class="input_field", placeholder="Your email")}}
                </div>
                <div class="auth_group">
                    {{form.username.label(class="auth_label")}}
                    {{form.username(class="input_field", placeholder="Your username")}}
                </div>
                <div class="auth_group">
                    {{form.password.label(class="auth_label")}}
                    {{form.password(class="input_field", placeholder="Your password")}}
                </div>
                <div class="auth_group">
                    {{form.confirm_password.label(class="auth_label")}}
                    {{form.confirm_password(class="input_field", placeholder="Re-enter password")}}
                </div>
            </fieldset>
            <div>
                {{form.submit(class="submit")}}
            </div>
        </form>
    </div>
{% endblock %}