header {
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-right: 50px;
}

footer {
    background-color: #262626;
    color: white;
    font-weight:bold;
    font-size: 14px;
    text-align: right;
}

body {
    background-color: #262626;
}

.navbar {
    display: inline;
}

.navbar ul {
  list-style-type: none;
  margin: 1;
  padding: 1;
  overflow: hidden;
  background-color: #004d4d;

}

.navbar li {
  float: left;
  font-weight: bold;
  font-size: 20px;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.auth {
    background-color: #004d4d;
    width: 25%;
    margin: auto;
    border-style: solid;
    border-color: black;
}

.auth_field {
    width: 100%;
    border-radius: 2px;
    text-align: left;
    border-style: solid;
    border-bottom: none;
    border-color: black;
}

.form_legend {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #1a1a1a;
    text-align: center;
    border-bottom: solid;
    border-color: black;
}

.auth_group {
    margin-left: 30px;
    padding: 1px
}

.auth_label {
    font-weight: bold;
    color: white;
    font-size: 18px;
    margin: 5px;
    display: block;
}

.input_field {
    margin: 5px;
    color: white;
    border: solid;
    border-color: black;
    min-width: 25%;
    max-width: 95%;
    background-color: black;
}

.input_field:hover {
    background-color: #0d0d0d;
}

.submit {
    background-color: #4CAF50;
    font-size: 20px;
    padding: 5px;
    color: white;
    border-radius: 8px;
    border-style: solid;
    border-color: #4CAF50;
    margin: 10px;
    width: 25%;
}

.submit:hover {
    background-color: darkgreen;
}